body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Estilos personalizados del boton de autenticación */
.custom-rounded-btn {
  border-radius: 15px;
  border-color: #00A651;
  padding: 10px 20px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  background-color: #00A651;
  color: #FFFFFF;
}

.custom-rounded-btn:hover {
  background-color: #038a44; 
  border-radius: 15px; 
}

/* Estilos personalizados para la Navbar */
.navbar-custom {
  background-color: #E6E7E6;
}

.line-wrapper {
  background-color: #E6E7E6; /* Color de fondo gris claro */
  padding: 0; /* Sin relleno superior o inferior */
  width: 100%; /* Ocupar todo el ancho de la pantalla */
}
.navbar-separator {
  height: 2px; /* Grosor de la línea */
  background-color: #00A651; /* Color verde */
  margin: 0 auto; /* Centramos la línea */
  width: calc(100% - 40px); /* Dejamos 20px de margen a cada lado */
  max-width: 1500px; /* Para que no se extienda indefinidamente en pantallas muy grandes */
}
.nav-center {
  font-size: 1.2rem;
}
/*Logo CORHUILA para la Navbar*/
.logo-Navbar {
  width: 40px;
  height: 40px;
}

/*Fondo general para las vistas*/
.background-container {
  min-height: 108vh; /* Altura completa de la pantalla */
  background: linear-gradient(to bottom, #E6E7E6 50%, #00A651 50%); /* Verde claro arriba, blanco abajo */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Caja blanca con bordes redondeados */
.content-container {
  background-color: white;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: 50px;
  height: 610px; /* Altura fija para el contenedor */
  overflow-y: 550px; /* Barra de desplazamiento vertical */
  position: relative; /* Mantiene la posición relativa */
}
/* Texto centrado */
h4 {
  color: #000; /* Color negro */
  font-size: 24px; /* Tamaño del texto */
  margin: 0; /* Sin margen adicional */
  padding-bottom: 10px; /* Espaciado en la parte inferior */
  border-bottom: 2px solid #4caf50; /* Línea verde bajo el texto */
  background-color: #FFFFFF;
}

/*///ESTILOS DE REGISTRO DE USUARIO///*/

/*Etilos para dividir las columnas de registro y tabla*/
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/*Darle estilo al formulario*/
.form-column {
  flex: 1;
  margin-right: 40px;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 10px;
  max-height: 520px; /* Asegura que se adapte al contenedor padre */
  overflow-y: auto; /* Añade scroll vertical al formulario */
}


.table-column {
  flex: 2;
}

form div {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Contenedor de la tabla con barra de desplazamiento independiente */
.table-column {
  max-height: 430px; /* Define la altura máxima de la tabla */
  overflow-x: auto;  /* Barra de desplazamiento horizontal */
  margin-top: 20px;
}
/* barra de desplazamiento */
.content-container::-webkit-scrollbar, .table-column::-webkit-scrollbar {
  width: 8px;
}

.content-container::-webkit-scrollbar-thumb, .table-column::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
input:focus {  
  border: 1px solid #00A651; 
  outline: none;
}
.form-group-custom {
  position: relative; /* Asegúrate de que el contenedor tenga posición relativa */
}

.form-group-custom label {
  transition: color 0.3s; /* Agrega una transición suave */
}

.form-group-custom:focus-within label {
  color: #00A651; /* Cambia el color del label a verde cuando el input está enfocado */
}
.table-row {
  transition: border 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

.table-row.selected {
  border: 2px solid #00A651; /* Color del borde */
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.3); /* Sombra */
  cursor: pointer; /* Cambia el cursor a pointer */
}

/*///NAVBAR AGENDADOCENTE///*/
.nav-item-custom {
  margin-right: 20px; /* Ajusta el espacio entre ítems */
}

.nav-item-custom:last-child {
  margin-right: 0; /* Elimina el margen en el último ítem si es necesario */
}

.navbar-custom .nav-link.active {
  background-color: #00A651; /* Color verde para el ítem activo */
  color: white; /* Cambia el color del texto a blanco para mejor contraste */
  border-radius: 4px; /* Opcional: redondear las esquinas */
}

.navbar-custom .nav-link {
  color: black; /* Color de texto predeterminado */
}

/*///DROPDOWN REGISTRO DE USUARIO///*/
/* Estilos para el botón del dropdown */
.dropdown-button {
  width: 100%;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
}

.dropdown-button:hover {
  background-color: #e2e6ea;
}

/* Estilos para el menú del dropdown */
.dropdown-menu-custom {
  position: absolute;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  padding: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Estilos para grupos de checkboxes y radios */
.checkbox-group,
.radio-group {
  display: flex;
  align-items: center;
  
}

.checkbox-group input,
.radio-group input {
  margin-right: -150px;
  margin-left: -150px;
}

/* Estilos para programas seleccionados */
.selected-programs ul {
  list-style-type: none;
  padding-left: 0;
}

.selected-programs li {
  background-color: #e9ecef;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  margin: 2px;
  display: inline-block;
}

/*////TABS///*/
.custom-tabs {
  position: -webkit-sticky; /* Soporte para Safari */
  position: sticky;
  top: 0;
  background-color: white; /* Color blanco sólido para todo el encabezado */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}


/* Estilos para las pestañas personalizadas */
.custom-tabs .MuiTabs-indicator {
  background-color: #00A651; /* Cambia este valor al color deseado */
  color:#00A651;
}

/* Opcional: Estilos adicionales para las pestañas */
.custom-tabs .MuiTab-root {
  color: #000; /* Color del texto de las pestañas */
  background-color: transparent; /* Fondo transparente */
  margin-right: 0.75rem; /* Espacio entre pestañas */
  font-size: 0.73rem; /* Tamaño de la fuente reducido */
  padding: 0.5rem 0.3rem; /* Padding vertical reducido */
  transition: color 0.3s; /* Suaviza el cambio de color al pasar el mouse */
}

.custom-tabs .MuiTab-root:hover {
  color: #00A651; /* Cambia el color del texto al pasar el mouse */
}

.custom-tabs .MuiTabs-root .Mui-selected {
  color: #00A651; /* Color del texto de la pestaña activa */
}

/* Opcional: Ocultar la barra de desplazamiento en navegadores WebKit */
.overflow-auto::-webkit-scrollbar {
  display: none;
}

.overflow-auto {
  -ms-overflow-style: none;  /* IE y Edge*/
  scrollbar-width: none;  /* Firefox*/
}

/*///Encabezados de la tabla///*/
/* Colorear encabezados de la tabla */
.header-row th,
.header-cell {
  background-color: #00A654;
  color: white; 
  text-align: center;
}
/*/// Botones generales de los modulos///*/
/* Contenedor para los botones */
.button-container {
  display: flex;
  flex-direction: row; /* Cambia a fila para alinear botones horizontalmente */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px; /* Espacio superior para separar de otros elementos */
}

button.B-general {
  border-radius: 15px;
  border-color: #00A651;
  padding: 10px 20px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  background-color: #00A651;
  color: #FFFFFF;
  border: none; /* Asegúrate de que no haya un borde adicional */
}

button.B-general:hover {
  background-color: #038a44; 
}

